/* Define a variable*/
:root {
    --pink: rgb(255, 182, 236);
}

/*all tags*/
* {
    box-sizing: border-box;
}

/*html*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    /*define the padding area at the top of an element when it is scrolled into view.*/
}

body {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.l-inner {
    width: 95%;
    max-width: 1180px;
    margin: 0 auto;
}

a {
    all: unset;
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: .2s linear;
}

/* logo */
.logo {
    font-size: 26px;
    color: #333;
    font-weight: bold;
}

.logo span {
    color: var(--pink);
}

/* headings */
.heading {
    font-size: 26px;
    background-color: var(--pink);
    color: #ffffff;
    padding: 13px;
    margin-bottom: 26px;
    text-align: center;
}

/*all buttons*/
.btn {
    margin-top: 9px;
    border-radius: 44px;
    background: var(--pink);
    color: #ffffff;
    padding: 18px;
    border: 1.5px solid var(--pink);
}

.btn:hover {
    background: #ffffff;
    color: var(--pink);
    border: 1.5px solid black;
    cursor: pointer;
    transition: 0.7s ease;
}

/*header section starts*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 4.4px 9px rgba(0, 0, 0, .1);
}

header .l-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}

header .navbar a {
    font-size: 18px;
    margin-right: 13px;
    color: #666;
}

header .navbar a:last-child {
    margin-right: 0;
}

header .navbar a:hover {
    color: var(--pink);
}

header .icons a {
    color: #333;
    margin-right: 18px;
    font-size: 22px;
}

header .icons a:last-child {
    margin-right: 0;
}

header .icons a:hover {
    color: var(--pink);
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 26px;
    color: #333;
    border-radius: 4.4px;
    cursor: pointer;
    display: none;
}

/*header section ends*/

/*home section starts*/
.home {
    background: url('/images/flowerBasket.jpg')no-repeat center / cover;
    padding: 210px 0;
    margin-top: 77px;
}

.home .content {
    max-width: 440px;
}

.home .content h2 {
    font-size: 53px;
    color: #ffffff;
    font-weight: bold;
}

.home .content span {
    font-size: 31px;
    color: var(--pink);
    font-weight: bold;
    padding: 9px 0;
    line-height: 1.5;
}

.home .content p {
    color: #ffffff;
    font-weight: 500;
    padding: 9px 0;
    text-align: justify;
    line-height: 1.5;
}

/*home section ends*/

/*about section starts*/
.about .l-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 70px 0;
}

.about .image-container {
    width: 40%;
    margin-right: 45px;
}

.image-container img {
    width: 100%;
    height: 377.5px;
    object-fit: cover;
}

.about .content {
    text-align: center;
    width: 40%;
}

.about .content p {
    padding-bottom: 17px;
}

/*about section ends*/

/*quality section starts*/
.sc-quality {
    background: rgb(224, 227, 224);
}

.sc-quality .l-inner {
    display: flex;
    justify-content: space-between;
    padding: 44px 0;
    flex-wrap: wrap;
    margin-bottom: 26px;
}

.delivery,
.refund,
.gift,
.payment {
    display: flex;
    background-color: #ffffff;
    border: 1.5px solid black;
    padding: 26px;
    align-items: center;
}

.icon-cont {
    margin-right: 18px;
    width: 64px;
}

.icon-cont img,
.icon-cont .gif {
    width: 100%;
    height: 64px;
}

.gif {
    display: none;
}

.delivery:hover .img-truck,
.refund:hover .cash,
.gift:hover .giftBox,
.payment:hover .credit-card {
    display: none;
    /* Hide the image when the container is hovered */
}

.delivery:hover .gif,
.refund:hover .gif,
.gift:hover .gif,
.payment:hover .gif {
    display: block;
    /* Display the GIF when the container is hovered */
    cursor: pointer;
}

.info h4 {
    font-size: 18px;
}

.info p {
    font-size: 13px;
}

/*product section starts*/
.products .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 35px 0 61px;
}

.products .box-container .box {
    box-shadow: 0 4.4px 13px rgba(7, 7, 7, 0.208);
    margin-bottom: 30px;
}

.products .box:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.products .box-img-cont {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
}

.box-img-cont .discount {
    position: absolute;
    top: 9px;
    left: 9px;
    padding: 18px 9px;
    font-size: 18px;
    color: #ffffff;
    background: rgba(250, 116, 127, 0.616);
    border-radius: 4.4px;
}

.box-img-cont img {
    width: 100%;
    object-fit: cover;
}

.products .box .icons {
    display: flex;
    background: rgb(250, 116, 127);
}

.products .box .icons a {
    height: 44px;
    line-height: 44px;
    font-size: 18px;
    text-align: center;
    width: 50%;
    color: #ffffff;
}

.products .box .icons a:hover {
    transform: scale(1.1);
    transition: 0.7s ease;
}

/* product section ends */

/* review section starts */
.review .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 0 61px;
}

.review .box-container .box {
    box-shadow: 0 4.4px 13px rgba(7, 7, 7, 0.208);
    border-radius: 4.4px;
    padding: 26px 18px;
    width: 30%;
    position: relative;
}

.review .box .stars i {
    color: var(--pink);
    font-size: 18px;
}

.review .box .review-txt {
    color: #999;
    line-height: 1.5;
    padding: 17px 0 60px;
}

.review .box .user {
    display: flex;
    align-items: center;
    padding-top: 18px;
    position: absolute;
    bottom: 0;
    padding-bottom: 18px;
}

.review .user img {
    height: 54px;
    width: 54px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 9px;
}

.review .user h4 {
    font-size: 18px;
    color: #333;
}

.review .box-container .box .fa-quote-right {
    position: absolute;
    bottom: 26px;
    right: 26px;
    font-size: 54px;
    color: #eee;
}

/* review section ends */

/* contact us starts*/
.contact .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
}

.contact .row form {
    box-shadow: 0 4.4px 13px rgba(7, 7, 7, 0.208);
    background: #ffffff;
    border-radius: 4.4px;
    padding: 16px;
    width: 50%;
}

.row form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #333;
}

.row form textarea {
    resize: none;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    height: 100px;
    margin-bottom: 11px;
    border: 1px solid #333;
}

.contact .row .image {
    width: 590px;
}

.contact .row .image img {
    width: 100%;
    object-fit: cover;
}

/* contact us ends */

/* footer section starts */
footer {
    background: rgb(224, 227, 224);
    margin-top: 44px;
    padding: 70px 45px;
}

footer .l-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.foot-link-cont {
    display: flex;
    gap: 35px;
}

.foot-links h6 {
    font-size: 18px;
    font-weight: 700;
    padding: 9px 0;
}

.foot-link-cont .foot-links a {
    color: #666;
    padding-bottom: 6px;
}

.foot-link-cont .foot-links a:hover {
    color: var(--pink);
}

/* footer section ends */

@media screen and (min-width: 768px) and (max-width: 1200px) {
    body {
        font-size: 1.953vw;
    }

    .l-inner {
        max-width: 85.156vw;
    }

    /* common classes */
    .logo {
        font-size: 2.995vw;
    }

    .heading {
        font-size: 3.385vw;
        padding: 1.693vw;
        margin-bottom: 3.385vw;
    }

    .btn {
        margin-top: 1.172vw;
        border-radius: 5.729vw;
        padding: 2.344vw;
    }

    /* header */
    header .l-inner {
        padding: 3.255vw 0;
    }

    header .navbar a {
        font-size: 1.953vw;
        margin-right: 1.302vw;
    }

    header .icons a {
        margin-right: 1.042vw;
        font-size: 2.474vw;
    }

    header .fa-bars {
        font-size: 3.385vw;
        border-radius: 0.573vw;
    }

    /* home */
    .home {
        padding: 14.193vw 0;
        margin-top: 9.635vw;
    }

    .home .content {
        max-width: 45.182vw;
    }

    .home .content h2 {
        font-size: 5.859vw;
    }

    .home .content span {
        font-size: 3.255vw;
        padding: 1.172vw 0;
        line-height: 1.5;
    }

    .home .content p {
        padding: 1.172vw 0;
        line-height: 1.3;
    }

    /* about us */
    .about .l-inner {
        justify-content: space-between;
        padding: 9.115vw 0;
    }

    .about .image-container {
        width: 45%;
        margin-right: 0;
    }

    .image-container img {
        height: 49.74vw;
        object-fit: cover;
    }

    .about .content {
        text-align: center;
        width: 50%;
    }

    .about .content p {
        padding-bottom: 2.214vw;
    }

    /* quality section */
    .sc-quality .l-inner {
        justify-content: center;
        gap: 3.906vw;
        padding-top: 5.729vw;
        padding-bottom: 5.729vw;
        margin-bottom: 3.385vw;
    }

    .delivery,
    .refund,
    .gift,
    .payment {
        padding: 3.385vw;
        align-items: center;
        width: 38.151vw;
    }

    .icon-cont {
        margin-right: 2.344vw;
        width: 7.161vw;
    }

    .icon-cont img,
    .icon-cont .gif {
        width: 100%;
        height: 7.161vw;
    }

    .info h4 {
        font-size: 2.344vw;
    }

    .info p {
        font-size: 1.693vw;
    }

    /* products */
    .products .box-container {
        padding: 4.557vw 0 7.943vw;
    }

    .products .box-container .box {
        margin-bottom: 3.906vw;
    }

    .products .box:nth-last-child {
        margin-bottom: 0;
    }

    .products .box-img-cont {
        width: 40.365vw;
    }

    .box-img-cont .discount {
        top: 1.172vw;
        left: 1.432vw;
        padding: 1.953vw 0.651vw;
        font-size: 2.344vw;
        border-radius: 0.573vw;
    }

    .products .box .icons a {
        height: 5.729vw;
        line-height: 5.729vw;
        font-size: 2.344vw;
    }

    /* customer review section */
    .review .box-container {
        gap: 3.255vw;
        margin: 4.557vw 0 7.943vw;
    }

    .review .box-container .box {
        padding: 3.385vw 2.344vw;
        width: 100%;
    }

    .review .box .stars i {
        font-size: 2.344vw;
    }

    .review .box .review-txt {
        padding: 2.214vw 0 7.813vw;
    }

    .review .box .user {
        padding-top: 2.344vw;
        padding-bottom: 2.344vw;
    }

    .review .user img {
        height: 7.031vw;
        width: 7.031vw;
        margin-right: 1.172vw;
    }

    .review .user h4 {
        font-size: 2.344vw;
    }

    .review .box-container .box .fa-quote-right {
        bottom: 3.385vw;
        right: 3.385vw;
        font-size: 7.031vw;
    }

    /* contact us */
    .contact .row {
        margin-top: 4.557vw;
    }

    .contact .row form {
        padding: 2.083vw;
        width: 100%;
    }

    .row form input {
        width: 100%;
        font-size: 1.953vw;
        padding: 1.302vw;
        margin-bottom: 2.604vw;
    }

    .row form textarea {
        padding: 1.302vw;
        width: 80%;
        height: 13.021vw;
        margin-bottom: 1.432vw;
        font-size: 1.953vw;
    }

    .contact .row .image {
        width: 100%;
    }

    .contact .row .image img {
        height: 35.807vw;
        object-position: top;
    }

    .contact form button {
        font-size: 1.953vw;
    }

    /* footer */
    footer {
        margin-top: 5rem;
        padding: 9.115vw 5.859vw;
    }

    footer .l-inner {
        gap: 3.255vw;
    }

    .foot-link-cont {
        gap: 4.557vw;
    }

    .foot-link-cont h6 {
        font-size: 2.344vw;
        padding: 1.172vw 0;
    }

    .foot-link-cont .foot-links a {
        padding-bottom: 0.781vw;
    }

}

@media screen and (max-width: 767.9px) {
    body {
        font-size: 4vw;
    }

    .l-inner {
        max-width: 93.333vw;
    }

    /* common classes */
    .logo {
        font-size: 6.133vw;
    }

    .heading {
        font-size: 6.4vw;
        padding: 2.667vw;
        margin-bottom: 6.933vw;
    }

    .btn {
        margin-top: 2.4vw;
        border-radius: 11.733vw;
        padding: 3.733vw;
    }

    /* header */
    header .l-inner {
        padding: 6.667vw 0;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #eee;
        border-top: 0.24vw solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.5s ease;
    }

    header .navbar a {
        font-size: 4vw;
        width: 89%;
        margin: 3.467vw 0 0 3.467vw;
        padding: 3.467vw 0 3.467vw 3.467vw;
        background: #fff;
        border: 0.24vw solid rgba(0, 0, 0, .1);
    }

    header .navbar a:last-child {
        margin-bottom: 3.467vw;
    }

    header .icons a {
        margin-right: 1.333vw;
        font-size: 4.267vw;
    }

    header .fa-bars {
        display: block;
        font-size: 5.333vw;
    }

    header #toggler:checked~.navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    #toggler:checked~label.fas.fa-bars {
        transform: rotate(90deg);
        transition: 0.5s ease;
    }

    #toggler:not(:checked)~label.fas.fa-bars {
        transform: rotate(0deg);
        transition: 0.5s ease;
    }

    /* home */
    .home {
        padding: 32.533vw 0;
        margin-top: 19.733vw;
    }

    .home .content {
        max-width: 100%;
    }

    .home .content h2 {
        font-size: 9.333vw;
    }

    .home .content span {
        font-size: 6.667vw;
        padding: 2.4vw 0;
        line-height: 1.1;
    }

    .home .content p {
        padding: 2.4vw 0;
        line-height: 1.1;
    }

    /* about */
    .about .l-inner {
        padding: 18.667vw 0;
    }

    .about .image-container {
        width: 100%;
        margin-right: 0;
    }

    .image-container img {
        height: 100.667vw;
    }

    .about .content {
        width: 100%;
        margin-bottom: 8vw;
    }

    .about .content p {
        padding-bottom: 4.533vw;
    }

    /* quality section */
    .sc-quality .l-inner {
        padding: 11.733vw 0;
        margin-bottom: 6.933vw;
        gap: 5.867vw;
    }

    .delivery,
    .refund,
    .gift,
    .payment {
        padding: 6.933vw;
        width: 100%;
    }

    .icon-cont {
        margin-right: 4.8vw;
        width: 13.333vw;
    }

    .icon-cont img,
    .icon-cont .gif {
        width: 100%;
        height: 13.333vw;
    }

    .info h4 {
        font-size: 4.8vw;
    }

    .info p {
        font-size: 3.467vw;
    }

    /* products */
    .products .box-container {
        padding: 9.333vw 0 16.267vw;
    }

    .products .box-container .box {
        margin-bottom: 8vw;
    }

    .products .box:last-child() {
        margin-bottom: 0;
    }

    .products .box-img-cont {
        width: 93.333vw;
    }

    .box-img-cont .discount {
        top: 2.4vw;
        left: 2.4vw;
        padding: 4.8vw 2.4vw;
        font-size: 4.8vw;
    }

    .products .box .icons a {
        height: 11.733vw;
        line-height: 11.733vw;
        font-size: 4.8vw;
        width: 50%;
    }

    /* review */
    .review .box-container {
        margin: 9.333vw 0 16.267vw;
    }

    .review .box-container .box {
        padding: 6.933vw 4.8vw;
        width: 100%;
        margin-bottom: 8vw;
    }

    .review .box .stars i {
        font-size: 4.8vw;
    }

    .review .box .review-txt {
        line-height: 1.5;
        padding: 4.533vw 0 16vw;
    }

    .review .box .user {
        padding-top: 4.8vw;
        padding-bottom: 4.8vw;
    }

    .review .user img {
        height: 14.4vw;
        width: 14.4vw;
        margin-right: 2.4vw;
    }

    .review .user h4 {
        font-size: 4.8vw;
    }

    .review .box-container .box .fa-quote-right {
        bottom: 6.933vw;
        right: 6.933vw;
        font-size: 14.4vw;
    }

    /* contact us */
    .contact .row {
        margin-top: 9.333vw;
    }

    .contact .row form {
        padding: 4.267vw;
        width: 100%;
    }

    .row form input {
        width: 100%;
        padding: 2.667vw;
        margin-bottom: 5.333vw;
    }

    .row form textarea {
        padding: 2.667vw;
        width: 80%;
        height: 26.667vw;
        margin-bottom: 2.933vw;
    }

    .contact .row .image {
        width: 157.333vw;
    }

    .contact .row .image img {
        width: 100%;
        object-fit: cover;
    }

    /* footer */
    footer {
        margin-top: 5rem;
        padding: 18.667vw 12vw;
    }

    footer .l-inner {
        gap: 9.333vw;
    }

    .foot-link-cont {
        display: flex;
        gap: 8vw;
        flex-wrap: wrap;
    }

    .foot-links {
        width: 32vw;
    }

    .foot-links h6 {
        font-size: 4.8vw;
        padding: 2.4vw 0;
    }

    .foot-link-cont .foot-links a {
        padding-bottom: 1.6vw;
    }

}